body{
    background-color: aqua;
}
@media (min-width:400px){
    body {
        background-color: blue;
    }
    
}
@media (max-width :600px){
    body {
        background-color: black;
    }
    
}